  <div>
     <ul>
      <li><a routerLink="/ngif" class="nav-link">Ng If and Ng for</a></li>
      <li><a routerLink="">Topic 1</a></li>
      <li><a routerLink="">Topic 1</a></li>
      <li><a routerLink="">Topic 1</a></li>
      <li><a routerLink="">Topic 1</a></li>
      <li><a routerLink="">Topic 1</a></li>
      <li><a routerLink="">Topic 1</a></li>
      <li><a routerLink="">Topic 1</a></li>
      <li><a routerLink="">Topic 1</a></li>
      <li><a routerLink="">Topic 1</a></li>
      <li></li>
     </ul>  

  </div>
 
